body {
    background-color: #2C2F33;
    color: #ffffff;
    font: normal 20px arial;
}
header {
    text-align: center;
}
section {
    background-color: #23272A;
    border-radius: 15px;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.767);
}
input#txt1 {
    width: 400x;
}
footer {
    text-align: center;
    font-style: italic;
}