*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    background-color: rgb(0, 197, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#relogio{
    background-color: rgb(255, 255, 255);
    border: 10px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#p_hora{
    position: absolute;
    top: 30px;
    background-color: black;
    border-radius: 10px;
    width: 20px;
    height: 150px;
    rotate: 0deg;
    transform-origin: center bottom;

}