@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background: #63bda4 url(assets/xCBxuDetcbhAzMhW.jpg_large) no-repeat fixed center center;
    background-size: cover;

}
#bmo {
    position: absolute;
    background-color: #63bda4;
    width: 400px;
    height: 600px;
    border: 2px solid #072223;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#screen {
    background: #d9ffea url(assets/happybmo.gif) no-repeat center center;
    background-size: cover;
    width: 80%;
    height: 35%;
    margin:  40px auto;
    border: 2px solid #072223;
    border-radius: 10px;
    text-align: center;
}
#controles {
    width: 80%;
    height: 45%;
    margin: auto;
}
#disc_player {
    display: inline-block;
    background-color: #072223;
    border: 2px solid #0c2d22;
    border-radius: 2px;
    width: 60%;
    height: 10%;
    margin-bottom: 20px;
}
#p2 {
    display: inline-block;
    background-color: #1b16b8;
    border: 2px solid #001942;
    border-radius: 50%;
    width: 10%;
    height: 10%;

}
.botao {
    background-color: white;
    background: transparent no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 50px;
}
#start {
    background-image: url(assets/start_select.png);
    width: 60px;
    height: 20px;
}
#select {
    background-image: url(assets/start_select.png);
    width: 60px;
    height: 20px;
}
#red_button {
    background-image: url(assets/red.png);
    width: 75px;
    height: 75px;
}
#green_button {
    background-image: url(assets/green.png);
}
#blue_button {
    background-image: url(assets/blue.png);
}
#direcionais {
    background-image: url(assets/yellow.png);
}